* {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    scroll-behavior: smooth;
    text-decoration: none;
    max-width: 1920px;
}

/* Main containers */

body {
    background-color: #0A1117;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 106px;
}

footer {
    display: flex;
    background-color: #121E28;
    width: 100%;
    height: 168px;
}

/* Classes and id's for individual style adjustment */

.header-logo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    flex: 1;
}

.goose {
    color: #FFB4D3;
}

.header-nav {
    display: flex;
    font-size: 20px;
    gap: 44px;
}

.header-login {
    display: flex;
    justify-content: center;
    flex: 1;
}

.login-button {
    display: flex;
    height: 44px;
    width: 92px;
    font-size: 18px;
    background-color: #243241;
    justify-content: center;
    border-radius: 5px;
}

/* the first section classes */

.section-one {
    margin-top: 136px;
    width: 649px;
    height: 412px;
}

.section-one-title {
    width: 526px;
    height: 168px;
    font-size: 62px;
}

.section-one-subtext {
    width: 100%;
    height: 92px;
    font-size: 26px;
}

.button-get-started {
    display: flex;
    margin-top: auto;
    justify-content: center;
    width: 214px;
    height: 68px;
    border-radius: 16px;
    background-color: #CEAAFF;
    color: #10151A;
    font-size: 20px;
}

.arrows-pointing-down {
    display: flex;
    width: 21px;
    height: 21px;
    margin-top: 118px;
    margin-bottom: 65px;
}

/* section two classes */

.section-two {
    margin-bottom: 200px;
    width: 1140px;
    height: 841px;
}

.section-two-title-bar {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 44px;
}

.title-img {
    display: block;
    flex: 1;
}

.title-img-img {
    margin-left: auto;
    display: block;
}

.section-two-title {
    font-size: 54px;
    display: flex;
    justify-content: center;
}

.img-title-spacer {
    flex: 1;
}

.dao-tags-line-one {
    gap: 24px;
    margin-bottom: 24px;
    width: 889px;
    height: 56px;
}

.dao-tags-line-two {
    gap: 24px;
    width: 510px;
    height: 56px;
}

.dao-tag-style {
    background-color: #182632;
    border-radius: 100px;
    width: 228px;
    height: 56px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.dao-tag-img {
    padding-right: 8px;
}

.gamebox {
    margin-top: auto;
    width: 1140px;
    height: 537px;
    border-radius: 30px;
}

.gamebox-img {
    border-radius: 30px;
    height: 493px;
}

.gamebox-subtext {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #FFB4D3;
    top: -22px;
    width: 404px;
    height: 44px;
    border-radius: 100px;
    font-size: 18px;
}

/* section three classes */

.section-three {
    margin-bottom: 200px;
    font-size: 54px;
    width: 1140px;
    height: 692px;
}

.section-three-title {
    width: 1140px;
    height: auto;
}

.section-three-subtext {
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    margin-top: 44px;
    gap: 20px;
}

.section-three-subtext-style {
    color: #37424D;
    transition: color 0.6s ease, transform 0.6s ease;
}

.section-three-subtext-style:hover {
    color: #FFB4D3;
    transform: scale(1.2);
}

/* section four classes */

.section-four {
    width: 1140px;
    height: 340px;
}

.section-four-title {
    margin-bottom: 44px;
    font-size: 54px;
}

.section-four-blocks {
    align-content: center;
    justify-content: space-between;
}

.section-four-block-item {
    font-size: 22px;
}

.section-four-img {
    display: flex;
    width: 56px;
    height: 56px;
}

.section-four-block-style {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: 160px;
    height: 160px;
    border-radius: 40px;
    background-color: #121E28;
}

/* section five classes */

.section-five {
    margin-top: 200px;
    width: 1140px;
    height: 590px;
}

.section-five-title {
    font-size: 54px;
}

.section-five-img {
    margin-bottom: 26px;
    margin-top: 44px;
    width: 900px;
    height: 160px;
    gap: 25px;
}

.section-five-img-style {
    border-radius: 40px;
}

.section-five-img-subtext {
    margin-top: 22px;
    font-size: 40px;
}

/* section six classes */

.section-six {
    background-color: #121E28;
    margin-top: 216px;
    border-radius: 30px;
    width: 1140px;
    height: 390px;
}

.section-six-title {
    margin-top: 40px;
    font-size: 54px;
}

.section-six-subtext {
    margin-top: 4px;
    margin-bottom: 68px;
    color: #9AAFC3;
    font-size: 36px;
}

.section-six-email-input {
    background-color: #121E28;
    border-radius: 16px;
    text-indent: 21px;
    width: 506px;
    height: 68px;
    font-size: 20px;
}

.section-six-email-input::placeholder {
    color: #3D4C5B;
}

.section-six-submit-button {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    border-radius: 16px;
    background-color: #CEAAFF;
    color: #10151A;
    font-size: 20px;
    width: 175px;
    height: 68px;
}

/* section seven classes */

.section-seven {
    margin-top: 140px;
    margin-bottom: 210px;
    width: 1140px;
    height: 494px;
}

.section-seven-title {
    display: flex;
    margin-bottom: 32px;
    width: 100%;
    height: auto;
}

.section-seven-title-style {
    font-size: 54px;
}

.section-seven-title-img {
    display: flex;
    padding-left: 93px;
    width: 59px;
    height: 59px;
}

.section-seven-subtext {
    align-self: center;
    margin-left: auto;
    font-size: 22px;
    color: #8395A7;
    width: 100px;
    height: 40px;
}

.section-seven-items {
    gap: 28px;
    width: 1141px;
    height: 382px;
}

.section-seven-item-img {
    display: flex;
    margin: 28px;
    width: 305px;
    height: 42px;
}

.section-seven-item-style {
    justify-content: space-between;
    border-radius: 20px;
    width: 361px;
    height: 382px;
}

.section-seven-item-text {
    color: #10151A;
    margin-left: 28px;
    margin-right: 28px;
}

.section-seven-item-text-header {
    font-size: 22px; 
    margin-bottom: 18px;
}

.section-seven-item-subtext {
    margin: 28px;
    color: #10151A;
    width: 64px;
    height: 20px;
}

.section-eight-about {
    margin-bottom: 382px;
}

.section-eight-title {
    display: flex;
    margin-bottom: 32px;
    width: 100%;
    height: auto;
}

.section-eight-item-style {
    justify-content: space-between;
    background-color: #121E28;
    border-radius: 20px;
    width: 361px;
    height: 382px;
}

.section-eight-subtext {
    align-self: center;
    margin-left: auto;
    font-size: 22px;
    color: #8395A7;
    width: 100px;
    height: 40px;
}

.section-eight-items {
    gap: 28px;
    width: 1141px;
    height: 382px;
}

.section-eight-item-img {
    display: flex;
    border-radius: 8px;
    outline: #2A3744;
    outline-width: 2px;
    outline-style: solid;
    margin: 28px;
    width: 50px;
    height: 50px;
}

.section-eight-img-border {
    border-radius: 8px;
}

.section-eight-item-text {
    margin-left: 28px;
    margin-right: 28px;
}

.section-eight-item-subtext {
    margin: 28px;
    width: 72px;
    height: 20px;
}

.group5597-img {
    margin-top: 69px;
    margin-bottom: 100px;
    height: 88px;
    width: 77px;
}

.section-nine {
    justify-content: space-between;
    margin-bottom: 200px;
    width: 1140px;
    height: 306px;
}

.section-nine-text {
    width: 100%;
    height: fit-content;
    gap: 16px;
}

.section-nine-buttons {
    justify-content: space-between;
    width: 592px;
    height: 84px;
}

.telegram-button {
    background-color: #FFC803;
    box-shadow: 0px 4px 12px 0px rgba(255, 200, 3, 0.3);
    border-radius: 16px;
    width: 280px;
    height: 84px;
}

.telegram-text {
    color: #4D3705;
    font-size: 20px;
    margin-left: 16px;
}

.email-button {
    background-color: #E2C1F9;
    box-shadow: 0px 4px 12px 0px rgba(226, 193, 249, 0.3);
    border-radius: 16px;
    width: 280px;
    height: 84px;
}

.section-nine-icons {
    margin-left: 20px;
}

.section-nine-contact {
    margin-top: 120px;
    margin-bottom: 125px;
}

/* about section classes */

.about-section {
    margin-top: 91px;
    width: 1140px;
    height: 529px;
}

.about-section-title {
    margin-bottom: 115px;
    font-size: 54px;
}

.about-section-herobox {
    justify-content: space-between;
    width: 1140px;
    height: 334px;
}

.about-section-herobox-style {
    justify-content: space-between;
    background-color: #FFB4D3;
    border-radius: 20px;
    width: 352px;
    height: 334px;
}

.hero-img {
    border-radius: 40px;
    margin-top: 16px;
}

.heroes {
    margin-left: 28px;
    margin-top: 30px;
}

.about-contact-arrow {
    align-self: flex-end;
    color: #10151A;
    margin-right: 19px;
    margin-bottom: 32px;
    margin-top: 17px;
    width: 88px;
    height: 20px;
}

/* contact form classes */

.contact-form-section {
    background-color: #121E28;
    border-radius: 30px;
    margin-bottom: 359px;
    width: 942px;
    height: fit-content;
}

.contact-title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact-form {
    height: 807px;
    width: 506px;
    gap: 30px;
}

.contact-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-input-style {
    background-color: #121E28;
    border-radius: 16px;
    text-indent: 28px;
    font-size: 20px;
    width: 506px;
    height: 68px;
}

.contact-input-style::placeholder {
    color: #3D4C5B;
}

.contact-textarea-style {
    background-color: #121E28;
    border-radius: 16px;
    text-indent: 28px;
    padding-top: 21px;
    font-size: 20px;
    width: 506px;
    height: 289px;
}

.contact-textarea-style::placeholder {
    color: #3D4C5B;
}

.contact-select-style {
    background-color: #121E28;
    border-radius: 16px;
    text-indent: 16px;
    font-size: 20px;
    width: 506px;
    height: 68px;
    color: #3D4C5B;
}

select option {
    color: #3D4C5B;    
}

.contact-send-button {
    align-self: flex-end;
    align-content: center;
    background-color: #CEAAFF;
    color: #10151A;
    font-size: 20px;
    margin-top: 43px;
    margin-bottom: 28px;
    border-radius: 16px;
    width: 175px;
    height: 68px;
}

/* footer classes */

.footer-spacer {
    flex: 1;
}

.footer-nav {
    gap: 56px;
    font-size: 22px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.legal {
    color: #FFC803;
}

/* font classes */

.lato { font-family: "Lato", sans-serif; }
.montserrat { font-family: "Montserrat", sans-serif; }
.bold { font-weight: 700; }
.semibold { font-weight: 600; }
.medium { font-weight: 500; }
.font-54 { font-size: 54px; }
.font-48 { font-size: 48px; }
.font-22 { font-size: 22px; }
.font-20 { font-size: 20px; }
.font-17 { font-size: 17px; }
.font-16 { font-size: 16px; }

/* allignment classes */

.flex { display: flex; }
.text-align { text-align: center; }
.outline { box-shadow: inset 0 0 0 2px #2A3744; }
.ignore-parent-style { border: none; outline: none; resize: none; }
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.align-items { display: flex; align-items: center; }
.justify-center { display: flex; justify-content: center; }

/* color classes */

.pink-goose-black { color: #10151A; }
.pink-goose-gray { color: #707F8D; }
.pink-goose-red { color: #FF9E9E; }
.pink-goose-dark-light-blue { color: #23C9DE; }
.pink-goose-light-blue { color: #77E6FF; }
.pink-goose-purple { color: #D387F7; }
.pink-goose-pink { color: #FFB4D3; }
.pink-goose-yellow { color: #FFC24C; }
.pink-goose-dark-gray { color: #40354B; }
.pink-goose-light-gray { color: #5A6C7E; }
.pink-goose-brown { color: #4D3705; }
.pink-goose-near-white { color: #E2E2E2; }

.pink-goose-background-light-blue { background-color: #77E6FF; }
.pink-goose-background-pink { background-color: #E2C1F9; }
.pink-goose-background-yellow { background-color: #DBE268; }